{% extends 'base.html' %}

{% block main %}
     <div class="pagetitle">
          <h1>Home</h1><!--Change Here-->
          <nav>
               <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item"><a href="sample">Sample</a></li><!--Change Here-->
               </ol>
          </nav>
     </div><!-- End Page Title -->
     <section class="section">
          <p> Under Construction</p><!--Change Here-->
     </section>
{% endblock %} 