<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
        <a class="nav-link " href="home">
            <i class="bi bi-grid"></i>
            <span>Home</span>
        </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#expenses-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-wallet2"></i><span>Expenses</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="expenses-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
            <a href="expenses">
                </i><span>Expenses</span>
            </a>
            </li>
            <li>
            <a href="expenseRecords">
                </i><span>View Records</span>
            </a>
            </li>
            <li>
            <a href="expenseAnalysis">
                </i><span>View Analysis</span>
            </a>
            </li>
        </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#savings-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-coin"></i><span>Savings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="savings-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
            <a href="Savings">
                </i><span>Savings</span>
            </a>
            </li>
            <li>
            <a href="SavingsRecords">
                </i><span>View Finances</span>
            </a>
            </li>
            <li>
            <a href="SavingsAnalysis">
                </i><span>View Analysis</span>
            </a>
            </li>
        </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="Reminders">
                <i class="bi bi-journal-text"></i>
                <span>Reminders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="LoanTracker">
                <i class="bi bi-grid"></i>
                <span>Loan Tracker</span>
            </a>
        </li>
    </ul>
</aside><!-- End Sidebar-->