{% extends 'head.html' %}


{% block head %}
<title>Sign In</title>
{% endblock %}

{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/home" class="logo d-flex align-items-center">
        <img src="static/assets/img/apple-touch-icon.png" alt="">
        <span class="d-none d-lg-block">eXpenso</span>
        </a>
    </div>
</header>
<div class="row d-flex justify-content-center" style="margin-top: 65px;">
    <div class="col-md-5">
        {% if msg %}
        <div class="alert alert-primary alert-dismissible fade in show" role="alert" >
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if invalidLogin %}
        <div class="alert alert-danger alert-dismissible fade in show" role="alert">
            {{ invalidLogin }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert"  data-mdb-delay="2000">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>
<div class="row d-flex justify-content-center" style="margin-top:35px;">
    <div class="col-md-6" >
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
    </div>
    <div class="col-md-5">
        <form id="form" action="/signin" method="post" onclick="return ValidateForm()">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                    
                    <div class="g-signin2 google" data-onsuccess="onSignIn"  ></div>
            </div>

            <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>

            <!-- <div *ngIf="isSubmitted && !isValidUser" style="text-align:center; border: 2px solid rgb(247, 69, 69);background-color: #fff0f0;">
                <strong>Wrong Credentials</strong>
                <p>Invalid email or password</p>
            </div>
            <div *ngIf="isSubmitted && isValidUser" style="text-align:center; border: 2px solid rgb(99, 237, 99);background-color: #e2fee1;">
                <strong>Login is Successful</strong>
                <p>Valid email & password</p>
            </div>
            <br> -->


            
            <!-- Email input -->
            <div class="form-group form_group">
                <input placeholder="Email" class="form-control" type="email" name="email"
                    formControlName="email" id="email" onkeyup="validateEmail()">
                <!-- <div *ngIf="func.email.touched && func.email.invalid" class="alert alert-danger">
                    <div *ngIf="func.email.errors?.['required']">* Email is required</div>
                    <div *ngIf="func.email.errors?.['email']">* Enter valid Email</div>
                </div> -->
                <div id="email-error"></div>
                <br>
            </div>

            <!-- Password input -->
            <div class="form-group form_group">
                <input placeholder="Password" class="form-control" type="password" name="password"
                    formControlName="pass1" id="pass" onkeyup="validatePass()" >
                <!-- <div *ngIf="func.pass1.touched && func.pass1.invalid" class="alert alert-danger">
                    <div *ngIf="func.pass1.errors?.['required']">* Password is required</div>
                </div> -->
                <div id="pass-error"></div>
                <br>
            </div>



            <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->

               
                <a href="#!" class="text-body">Forgot password?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                        class="link-danger" style="cursor: pointer;">Register</a></p>
            </div>


        </form>
    </div>
</div>
{% endblock %}
